<?xml version="1.0" encoding="utf-8"?>

<packages>
    <package id="BepInEx.BaseLib" version="5.4.17" targetFramework="net472" />
    <package id="BepInEx.Core" version="5.4.17" targetFramework="net472" />
    <package id="BepInEx.PluginInfoProps" version="2.1.0" targetFramework="net481" />
    <package id="DysonSphereProgram.GameLibs" version="0.10.32.25779-r.0" targetFramework="net481" />
    <package id="DysonSphereProgram.Modding.CommonAPI" version="1.6.5" targetFramework="net481" />
    <package id="DysonSphereProgram.Modding.DSPModSave" version="1.2.0" targetFramework="net481" />
    <package id="DysonSphereProgram.Modding.LDBTool" version="3.0.0" targetFramework="net481" />
    <package id="DysonSphereProgram.Modding.NebulaMultiplayerModApi" version="2.0.0" targetFramework="net481" />
    <package id="HarmonyX" version="2.5.5" targetFramework="net472" />
    <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.3" targetFramework="net481"
             developmentDependency="true" />
    <package id="Microsoft.NETFramework.ReferenceAssemblies.net472" version="1.0.3" targetFramework="net472"
             developmentDependency="true" />
    <package id="Mono.Cecil" version="0.11.4" targetFramework="net472" />
    <package id="MonoMod.RuntimeDetour" version="21.8.19.1" targetFramework="net472" />
    <package id="MonoMod.Utils" version="21.8.19.1" targetFramework="net472" />
    <package id="UnityEngine.Modules" version="2018.4.12" targetFramework="net481" developmentDependency="true" />
</packages>