<?xml version="1.0" encoding="utf-8"?>

<Project>
    <PropertyGroup Label="DefaultPath">
        <ProfileDir>C:\Users\MLJ\AppData\Roaming\r2modmanPlus-local\DysonSphereProgram\profiles\Default</ProfileDir>
        <R2CacheDir>C:\Users\MLJ\AppData\Roaming\r2modmanPlus-local\DysonSphereProgram\cache</R2CacheDir>
        <DSPGameDir>D:\Steam\steamapps\common\Dyson Sphere Program</DSPGameDir>
        <NugetGameLibDir>C:\Users\MLJ\.nuget\packages\dysonsphereprogram.gamelibs</NugetGameLibDir>
        <ModSourcesRootDir>D:\project\dsp</ModSourcesRootDir>
        <MoreMegaStructureSourceDir>D:\project\dsp\DSPmod_MoreMegaStructures</MoreMegaStructureSourceDir>
        <TheyComeFromVoidSourceDir>D:\project\dsp\DSP_Battle</TheyComeFromVoidSourceDir>
        <GenesisBookSourceDir>D:\project\dsp\ProjectGenesis</GenesisBookSourceDir>
        <OrbitalRingSourceDir>D:\project\dsp\OrbitalRing-MOD</OrbitalRingSourceDir>
        <FractionateEverythingSourceDir>D:\project\dsp\MLJ_DSPmods\FractionateEverything</FractionateEverythingSourceDir>
    </PropertyGroup>
</Project>
